// Colors!!!!
$navy: #001F3F;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;
$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #AAAAAA;
$black: #111111;

// Basic Settings
$root-background-color: #ffffff;
$root-box-sizing: border-box;
$root-color: #000000;
$root-cursor: default;
$root-font-size: 100%;
$root-line-height: 1.5;
$root-font-family: sans-serif;
$root-font-weight: 400;

// Type Settings
$anchor-color: $blue;
$anchor-text-decoration: none;
$monospace-font-family: monospace;
$small-font-size: 75%;

$header-one: 2.5rem;
$header-two: 2.25rem;
$header-three: 2rem;
$header-four: 1.75rem;
$header-five: 1.5rem;
$header-six: 1.25rem;

$header-one-mobile: 2rem;
$header-two-mobile: 1.75rem;
$header-three-mobile: 1.5rem;
$header-four-mobile: 1.25rem;
$header-five-mobile: 1rem;
$header-six-mobile: 0.9rem;

// Grid Settings
$grid-columns: 12;

$small-screen: 35.5em;
$medium-screen: 48.1em;
$large-screen: 64em;
$xlarge-screen: 80em;