@mixin lucky-form-simple {
	label {
		@include lucky-form-label;
	}
	.field {
		@include lucky-form-field;
	}
}

@mixin lucky-form-label {
	font-size: 0.9rem;
}

@mixin lucky-form-field {
	position: relative;
	display: block;
	margin-bottom: 0.75rem;

	input:not([type]),
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="week"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	select,
	textarea {
		display: inline-block;
		width: 100%;
		padding: 0.2rem 0.5rem;
		border: 1px solid $silver;
		border-radius: 4px;
		box-shadow: inset 0 0 5px rgba(0,0,0,0.05);

		&:focus {
			outline: none;
			border-color: $aqua;
		}
	}

	.select {
		position: relative;

		select {
			box-shadow: none;
		}

		&:hover:after {
			border-top-color: $gray;
		}

		&:after {
			position: absolute;
			display: block;
			height: 0;
			width: 0;
			top: 0.3rem;
			right: 0.75rem;
			border: 0.5rem solid transparent;
			border-top-color: $aqua;
			content: "";
		}
	}

	label {
		padding-right: 0.5rem;
		
		input[type="checkbox"],
		input[type="radio"] {
			vertical-align: text-top;
		}
	}
}

@mixin lucky-form-icon($align: right) {
	input {
		@if $align == left {
			padding-left: 2rem;
		} @else {
			padding-right: 2rem;
		}
	}

	.icon {
		position: absolute;
		top: 0.3rem;
		@if $align == left {
			left: 0.5rem;
		} @else {
			right: 0.5rem;
		}
	}
}

@mixin lucky-form-note {
	padding: 0 0.25rem;
	font-size: 0.8rem;
}