@mixin lucky-grid($gutter: 1rem, $justify: flex-start, $wrap: nowrap, $direction: column, $alignItems: stretch, $alignContent: stretch) {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: $justify;
	align-items: $alignItems;
	align-content: $alignContent;
	flex-wrap: $wrap;
	flex-direction: $direction;

	@media (min-width: $small-screen) {
		margin: 0 (-($gutter/2));
	}
}

@mixin lucky-column($gutter: 1rem) {
	display: flex;
	flex-direction: column;
	padding: 0 ($gutter/2);
	flex: 1;
}

@mixin lucky-column-size($size, $flex: false, $percent: false) {
	@if $flex {
		flex: $size;
	} @else {
		flex: 0 0 auto;
		@if $percent {
			flex-basis: $size;
			max-width: $size;
		} @else {
			@if $size == "sixth" {
				flex-basis: 16.6666666667%;
				max-width: 16.6666666667%;
			} @else if $size == "two-sixth" {
				flex-basis: 33.3333333333%;
				max-width: 33.3333333333%;
			} @else if $size == "three-sixth" {
				flex-basis: 50%;
				max-width: 50%;
			} @else if $size == "four-sixth" {
				flex-basis: 66.6666666667%;
				max-width: 66.6666666667%;
			} @else if $size == "five-sixth" {
				flex-basis: 83.3333333333%;
				max-width: 83.3333333333%;
			} @else if $size == "fifth" {
				flex-basis: 20%;
				max-width: 20%;
			} @else if $size == "two-fifth" {
				flex-basis: 40%;
				max-width: 40%;
			} @else if $size == "three-fifth" {
				flex-basis: 60%;
				max-width: 60%;
			} @else if $size == "four-fifth" {
				flex-basis: 80%;
				max-width: 80%;
			} @else if $size == "quarter" {
				flex-basis: 25%;
				max-width: 25%;
			} @else if $size == "two-quarter" {
				flex-basis: 50%;
				max-width: 50%;
			} @else if $size == "three-quarter" {
				flex-basis: 75%;
				max-width: 75%;
			} @else if $size == "third" {
				flex-basis: 33.3333333333%;
				max-width: 33.3333333333%;
			} @else if $size == "two-third" {
				flex-basis: 66.6666666667%;
				max-width: 66.6666666667%;
			} @else if $size == "half" {
				flex-basis: 50%;
				max-width: 50%;
			} @else if $size == "full" {
				flex-basis: 100%;
				max-width: 100%;
			} @else {
				flex-basis: ($size / $grid-columns) + 0%;
				max-width: ($size / $grid-columns) + 0%;
			}
		}
	}
}