@mixin lucky-label($badge: false) {
	display: inline-block;
	background: #eee;
	vertical-align: middle;
	@if $badge {
		padding: 0.2rem 0.35rem;
		border-radius: 1000px;
	} @else {
		padding: 0.2rem 0.5rem;
	}
}
