@mixin lucky-loader($size:1rem, $width: 2px, $speed: 1s, $loopColor: $silver, $barColor: $blue) {
	display: inline-block;
	position: relative;
	width: $size;
	height: $size;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: $size;
		height: $size;
		border: $width solid $loopColor;
		border-radius: 200rem;
	}

	&:after {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: $size;
		height: $size;
		border: $width solid transparent;
		border-top-color: $barColor;
		border-radius: 200rem;
		animation: loader $speed linear infinite;
	}

	@keyframes loader {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}