@mixin lucky-menu($direction: row) {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	background: transparent;
	font-size: 0;
	flex-direction: $direction;
}

@mixin lucky-menu-section {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
	flex-direction: inherit;
}

@mixin lucky-menu-left {
	@include lucky-menu-section;
	flex: 1;
	justify-content: flex-start;
}

@mixin lucky-menu-right {
	@include lucky-menu-section;
	flex: 1;
	justify-content: flex-end;
}

@mixin lucky-menu-center {
	@include lucky-menu-section;
	justify-content: center;
}

@mixin lucky-menu-item($font-size: 1rem) {
	position: relative;
	display: flex;
	flex: 0 1 auto;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-size: $font-size;
	line-height: 1;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
}
