@mixin lucky-overlay {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 2001;

	&.active {
		display: flex;
	}
}

@mixin lucky-overlay-modal {
	position: fixed;
	@include lucky-overlay;
}

@mixin lucky-overlay-block {
	position: absolute;
	@include lucky-overlay;
}